body.brtl {
    font-family: monospace;
}

.brtl #app {
    /* display: none; */
}

.brtl div.screen {
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}
.brtl article {
    border-left: 4px solid black;
    border-top: 4px solid black;
    padding: 2rem;
}
.brtl article * {
    display: inline;
}
.brtl article > br {
    content: '';
    display: block;
    margin-bottom: 2rem;
}
