@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import './crt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-mono;
}

canvas#three,
div#app {
    @apply fixed inset-0;
}

div#app {
    @apply z-10 pointer-events-none;
}

div.crt-tv {
    @apply p-9;
}

div.screen {
    @apply bg-gray-900
    relative
    h-full;
    clip-path: url(#crt-bezel);
}

div.screen.static {
    /* margin: auto; */
    background-image: repeating-radial-gradient(
        circle at 17% 32%,
        white,
        black 0.00085px
    );
    background-position: center;
    animation: back 5s linear infinite;
}

@keyframes back {
    from {
        background-size: 100% 100%;
    }
    to {
        background-size: 200% 200%;
    }
}

article {
    @apply p-6;
    @apply text-white;
    @apply blur-[0.5px];
}

article > * {
    @apply inline;
}

article > br {
    content: '';
    @apply block mb-4;
}

h2 {
    @apply text-lg;
    @apply font-bold;
}

p {
    @apply text-sm;
}

a {
    @apply font-bold underline;
}

button {
    @apply absolute left-1;
    @apply w-4 h-4 border border-gray-900 bg-gray-50 rounded-sm;
    background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' d='M3,3 L21,21 M3,21 L21,3'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
}
